{% extends 'publisher_layout.jinja2' %}
{% block main_content %}
    <div class="hero-unit">
        <h1>Hello, publisher</h1>
        <p>     Select the application on left side bar</p>
    </div>
{% endblock %}