<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"

       default-init-method="init" default-destroy-method="destroy">
  <!--Sql.executor-->
  <bean id="sql.executor" class="com.borqs.server.platform.sql.SqlExecutor" scope="singleton">
    <property name="connectionFactory">
      <bean class="com.borqs.server.platform.sql.SimpleConnectionFactory" scope="singleton"/>
    </property>
  </bean>

  <!-- Tables -->
  <bean id="table.ticket" class="com.borqs.server.platform.sql.SingleTable">
    <property name="db" value="jdbc:mysql://localhost:3306/account_platform_test?user=root"/>
    <property name="table" value="ticket"/>
  </bean>

  <!-- Logic -->
  <bean id="logic.account" class="com.borqs.server.test.login.test1.AccountMock" scope="singleton">
  </bean>
  <bean id="logic.cibind" class="com.borqs.server.test.login.test1.CibindMock" scope="singleton">
  </bean>
  <bean id="logic.login" class="com.borqs.server.impl.login.LoginImpl" scope="singleton">
    <property name="account" ref="logic.account"/>
    <property name="cibind" ref="logic.cibind"/>
    <property name="sqlExecutor" ref="sql.executor"/>
    <property name="ticketTable" ref="table.ticket"/>
  </bean>

</beans>