
/*
 * qiupu responsive CSS design
 */
@media (max-width: 480px) /*(max-width: 480px)*/ {
  .hideOnPhone {
  	display: none;
  	visibility: hidden;
	height: 0px;
  }
  #hot {
  	display: none;
  	visibility: hidden;
  }
  #phone-top {
  	display: block;
  }  
  body {
	padding-left: 0px;
	padding-right: 0px;
	background-image: url('images/noise_bg.png');
  }
  .myspan4 {
        padding-left: 20px;
        padding-top: 20px;
  }
  .spanpost {
	padding: 20px;
	border-radius:15px;
  }

  .appTitle {
        margin-left:10px;
	width:50px;
	word-wrap:break-word;
  }

  .appDescription {
        margin:10px;
  }

  .appDownloadBtn {
        margin-right:10px;
	white-space:nowrap;
  }


  #folless,#frdless {
	display: none;
	visibility: hidden;
  }
  .top{
  	margin-top:30px;
  }
  .topn{
  	margin-top:45px;
  }
  .mytextares{
  	margin-bottom: 0px;
  	width: auto;
  }
 
}


@media (min-width: 481px) {
  body {
	padding-top: 60px;
	background-color: #f3f5f3;
	background-image: url('images/noise_bg.png');
  }
  
  img {
  	border-radius:4px;
  }
  .myspan {
	padding: 20px;
	border-radius:15px;
	border:1px solid #e0e0e0;
  }
  .spanpost {
	padding: 20px;
	background-color: #f5f5f5;
	border-radius:15px;
  }

  .myspan4 {
        padding-top: 100px;
  }
  .myspan5{
  	margin-left: 15px;
  }
  .scrolly {
	max-height:500px; 
	overflow-y:auto;
  }

  .appTitle {
	margin:20px;
	width:100px;
  }
  .appDescription {
	margin-left:40px; 
	margin-right:20px; 
	margin-top:20px; 
	margin-bottom:20px;
  }

  .appDownloadBtn {
        margin-right:10px;
        white-space:nowrap;
  }

  #folless,#frdless{
  	width: 200px
  }
  .logospan {
        background-position: 0px 0px;
        width: 960px;
        height: 600px;
        right: 150px;
        top: 45px;
        background-image: url('images/login.jpg');
        z-index: -1;
        position: absolute;
  }
  #phone-top {
		display: none;
  } 
  .bg1{     
      background: url("images/bg_4_wrap1.jpg") repeat-x scroll left bottom #28272A;        
    }
  .bg2{   
      background: url("images/bg_4_wrap2.jpg") no-repeat scroll center top transparent;        
  }
}


@media (min-width: 481px) and (max-width: 979px) {
  body {
	padding-top: 0px;
	background-image: url('images/noise_bg.png');
  }
  #phone-top {
		display: none;
  }
  .bg1{     
      background: url("images/bg_4_wrap1.jpg") repeat-x scroll left bottom #28272A;        
    }
  .bg2{   
      background: url("images/bg_4_wrap2.jpg") no-repeat scroll center top transparent;        
  }

}

@media (min-width: 768px) {
  .fixed {position: fixed;}

  .appDownloadBtn {
        margin:20px;
        width:100px;
  }
  #phone-top {
  	display: none;
  }  
  .mytextares{
  	width: 350px;
  	margin-bottom: 0px;
  }
  .bg1{     
      background: url("images/bg_4_wrap1.jpg") repeat-x scroll left bottom #28272A;        
    }
  .bg2{   
      background: url("images/bg_4_wrap2.jpg") no-repeat scroll center top transparent;        
  }
}
.myoffset{
	margin-left: 20%;
	position: relative;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
