<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"

       default-init-method="init" default-destroy-method="destroy">
    <!--Sql.executor-->
    <bean id="sql.executor" class="com.borqs.server.platform.sql.SqlExecutor" scope="singleton">
        <property name="connectionFactory">
            <bean class="com.borqs.server.platform.sql.SimpleConnectionFactory" scope="singleton"/>
        </property>
    </bean>

    <!-- Tables -->
    <bean id="table.psuggest" class="com.borqs.server.platform.sql.SingleTable">
        <property name="db" value="jdbc:mysql://localhost:3306/account2?user=root&amp;password=1234&amp;allowMultiQueries=true"/>
        <property name="table" value="psuggest"/>
    </bean>

    <!-- Logic -->
    <bean id="logic.account" class="com.borqs.server.platform.test.mock.ServerTeam" factory-method="account" scope="singleton">
    </bean>

    <bean id="logic.friend" class="com.borqs.server.platform.test.mock.ServerTeam" factory-method="friend" scope="singleton">
    </bean>

    <bean id="logic.psuggest" class="com.borqs.server.impl.psuggest.PeopleSuggestImpl" scope="singleton">
        <property name="sqlExecutor" ref="sql.executor"/>
        <property name="psuggestTable" ref="table.psuggest"/>
        <property name="account" ref="logic.account"/>
        <property name="friend" ref="logic.friend"/>
    </bean>
</beans>